﻿@model IEnumerable<ShopBanDongHo.Models.Brand>

<h2>Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>    
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var brand in Model)
        {
            <tr>
                <td>@brand.Id</td>
                <td>@brand.Name</td>
                <td>
                    <a asp-action="Update" asp-route-id="@brand.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@brand.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
