﻿@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LayoutWatchShop.cshtml";
}

@model IEnumerable<ShopBanDongHo.Models.Product>

@foreach (var product in Model)
{
    <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
        <div class="featured__item">
            <div class="featured__item__pic">
                <ul class="featured__item__pic__hover">
                    <img src="@product.ImageUrl" alt="Alternate Text" />
                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>

            <div class="featured__item__text">
                <h6><a href="#">@product.Name</a></h6>
                <h5>@product.Price</h5>
            </div>
        </div>
    </div>

}


